@import url(./form__input.css);
@import url(./form__submit.css);
@import '../constants';

.form {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.form__header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 24px;
}

.form__header-text {
  font-size: 20px;
  line-height: 32px;
  color: $dark-grey;
  font-weight: 600;
  margin: 0;
}

.form__header-button {
  outline: none;
  border: none;
  background-image: url(../../images/icon-schevron-grey.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-color: inherit;
  display: block;
}

.form__text {
  font-size: 15px;
  line-height: 130%;
  color: $grey;
  margin-bottom: 24px;
}

.form__email {
  color: $blue;
  text-decoration-line: underline;
}


.form__restore-link {
  margin-top: 32px;
  font-size: 15px;
  line-height: 22px;
  color: $blue;
  font-weight: 500;
  text-decoration: underline;
}

@media only screen and (min-width: 560px) {
  .form__header {
    margin-bottom: 40px;
  }
  .form__header-text {
    width: 560px;
    font-size: 24px;
  }
}
