$font-stack: 'Poppins', 'Arial', sans-serif;
$grey: #A1ABC9;
$form-background-color: #F9FAFF;
$blue: #7297FF;
$white: #ffffff;
$dark-grey: #202225;
$light-blue: #E3EBFF;
$grey-solid: #dce0ec;
$green: #34C197;
